name : Daily Pipeline

on:
  schedule:
    - cron: "30 14 * * *"
  workflow_dispatch:

jobs:
  run-pipeline:
      runs-on: ubuntu-latest

      steps:
        - name: Call pipeline Api
          run: |
          curl -X POST https://looplearn-be.onrender.com/api/pipeline/run \
          -H "Authorization Bearer ${{secrets.PIPELINE_SECRET}}"